@import "nativescript-theme-core/css/core.light.css";

.fa {
  font-family: "FontAwesome", "fontawesome-webfont";
  vertical-align: center;
}

.switch {
  margin: 0;
}

.form {
  padding: 15;
}

.btn {
  border-radius: 1;
  color: #fff;
}

.btn-primary {
  background-color: #3277d5;
}

.btn-remove {
  background-color: #c22500;
}

.container {
  padding: 0 15 15;
}

.item,
.input-field {
  margin: 20 0 0;
  padding-bottom: 7;
  border-bottom-width: 1;
  border-color: #ebebed;
}

.input-field {
  padding: 0;
}

.label,
.form .input-field .label {
  margin: 0 0 3;
  font-size: 11;
  color: #3277d5;
}

.field {
  color: #000;
}

.delivery-status {
  font-size: 10;
  text-transform: uppercase;
}

.delivery-status.pending {
  color: #ffa500;
}

.delivery-status.in-progress {
  color: #00f;
}

.delivery-status.delivered {
  color: #008000;
}

.delivery-status.refused,
.delivery-status.lost {
  color: #f00;
}

SearchBar {
  border-width: 0 0 1 0;
  border-color: #ebebed;
}
