<GridLayout rows="*, auto">
    <ActionBarExtension>
        <ActionItem text="Edit" (tap)="onEdit()" ios.position="right"></ActionItem>
    </ActionBarExtension>
    <ScrollView>
        <StackLayout class="list-group">
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryItem"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryItemType" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="itemStatus" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryName" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryAddressLine1" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryAddressCity" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.DeliveryAddressPostcode" textWrap="true"></Label>
            <Label class="list-group-item-text m-l-10 m-t-10" [text]="item.data.Comments" textWrap="true"></Label>
        </StackLayout>
    </ScrollView>
</GridLayout>