<GridLayout rows="*, auto">
    <ActionBarExtension>
        <ActionItem text="Save" (tap)="onSave()" ios.position="right">

        </ActionItem>
    </ActionBarExtension>
    <ScrollView>
        <StackLayout class="form">
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="Item for Delivery"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryItem" hint="Delivery item description" returnKeyType="next"
                    #deliveryItemElement #deliveryItemElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryItemElementModel.dirty && deliveryItemElementModel.invalid ? 'visible' : 'collapse'"
                    text="Item is required"></Label>

            </GridLayout>
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="Deliver To"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryName" hint="Recipient name" returnKeyType="next" #deliveryNameElement
                    #deliveryNameElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryNameElementModel.dirty && !deliveryNameElementModel.valid ? 'visible' : 'collapse'"
                    text="Name is required"></Label>

            </GridLayout>
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="Item type"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryItemType" hint="Delivery item type" returnKeyType="next"
                    #deliveryTypeElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryTypeElementModel.dirty && !deliveryTypeElementModel.valid ? 'visible' : 'collapse'"
                    text="Type is required"></Label>

            </GridLayout>
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="City"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryAddressCity" hint="City" returnKeyType="next" #deliveryAddressCityElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryAddressCityElementModel.dirty && deliveryAddressCityElementModel.invalid ? 'visible' : 'collapse'"
                    text="City is required"></Label>
            </GridLayout>
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="Address"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryAddressLine1" hint="Address Line 1" returnKeyType="next" #deliveryAddressLine1ElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryAddressLine1ElementModel.dirty && deliveryAddressLine1ElementModel.invalid ? 'visible' : 'collapse'"
                    text="Address is required"></Label>
            </GridLayout>
            <GridLayout class="input-field" columns="*, *">
                <Label class="h3 text-muted" text="ZIP code"></Label>
                <TextField required class="input" col="1" [(ngModel)]="item.DeliveryAddressPostcode" hint="ZIP code" returnKeyType="go" keyboardType="number" #deliveryAddressPostCodeElementModel="ngModel"></TextField>
                <Label class="validation" [visibility]="deliveryAddressPostCodeElementModel.dirty && deliveryAddressPostCodeElementModel.invalid ? 'visible' : 'collapse'"
                    text="Postcode is required"></Label>
            </GridLayout>
            <!--- editableListForm16 additional fields -->
        </StackLayout>
        <!--- master detail form -->
    </ScrollView>

    <GridLayout row="1">
        <Button class="btn btn-primary" text="Add" (tap)="onSave()" [visibility]="isValid ? 'visible' : 'collapse'"></Button>
    </GridLayout>

    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>