<StackLayout>
    <SearchBar #sb hint="Search" [text]="" (textChange)="onChange(sb.text)" (loaded)="onSearchBarLoaded()"></SearchBar>
    <ListView class="list-group" [items]="items | searchFor:searchPhrase">
        <template let-item="item">
            <StackLayout class="list-group-item" (tap)="onSelect(item)">
                <Label class="delivery-status done" [text]="item.Status | toStringStatus" [ngClass]="getStatusClassName(item.Status | toStringStatus)"></Label>
                <Label col="0" class="list-group-item-heading m-b-5" [text]="item.DeliveryItem + ' (' + item.DeliveryItemType + ')'"></Label>
                <Label class="list-group-item-text" [text]="item.DeliveryName"></Label>
                <Label class="list-group-item-text" [text]="item.DeliveryAddressLine1"></Label>
                <Label class="list-group-item-text" [text]="item.DeliveryAddressPostcode + ', ' + item.DeliveryAddressCity"></Label>
            </StackLayout>
        </template>
    </ListView>
</StackLayout>
