<GridLayout rows="*, auto">
    <ActionBarExtension>
        <ActionItem text="Edit" (tap)="onEdit()" ios.position="right"></ActionItem>
    </ActionBarExtension>
    <ScrollView>
        <StackLayout class="container">
            <StackLayout class="item">
                <Label class="label" text="Item"></Label>
                <Label class="field" [text]="item.DeliveryItem"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="Item type" textWrap="true"></Label>
                <Label class="field" [text]="item.DeliveryItemType" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="Status" textWrap="true"></Label>
                <Label class="field" [text]="itemStatus" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="Consignee" textWrap="true"></Label>
                <Label class="field" [text]="item.DeliveryName" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="City" textWrap="true"></Label>
                <Label class="field" [text]="item.DeliveryAddressCity" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="Address" textWrap="true"></Label>
                <Label class="field" [text]="item.DeliveryAddressLine1" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item">
                <Label class="label" text="ZIP code" textWrap="true"></Label>
                <Label class="field" [text]="item.DeliveryAddressPostcode" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="item" *ngIf="item.Comments">
                <Label class="label" text="Comments" textWrap="true"></Label>
                <Label class="field" [text]="item.Comments" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
