<GridLayout rows="*, auto">
    <ActionBarExtension>
        <ActionItem text="Save" (tap)="onUpdate()" ios.position="right"></ActionItem>
    </ActionBarExtension>
    <ScrollView >
        <StackLayout class="form">
            <StackLayout class="input-field">
                <Label class="label" text="Add a comment here"></Label>
                <TextField class="input" [(ngModel)]="item.Comments" hint="Add your comments" returnKeyType="go" row="1"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="Change status"></Label>
                <ListPicker #picker width="100%" [items]="statusNamesArray" [selectedIndex]="currentItemStatusIndex" verticalAlignment="center" horizontalAlignment="center"
                    (selectedIndexChange)="selectedIndexChanged(picker)">
                </ListPicker>
                <Button class="btn btn-remove" col="1" text="Delete" (tap)="onDelete()"></Button>
            </StackLayout>
            <!--- editableListForm14 additional fields -->
        </StackLayout>
        <!--- master detail form -->

    </ScrollView>

    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>
