<GridLayout rows="*, auto">
    <ActionBarExtension>
        <ActionItem text="Save" (tap)="onSave()" ios.position="right"></ActionItem>
    </ActionBarExtension>
    <ScrollView>
        <StackLayout class="form">
            <StackLayout class="input-field">
                <Label class="label" text="Item for Delivery"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryItem" hint="" returnKeyType="next"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="Deliver To"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryName" hint="" returnKeyType="next"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="Item type"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryItemType" hint="" returnKeyType="next"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="City"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryAddressCity" hint="" returnKeyType="next"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="Address"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryAddressLine1" hint="" returnKeyType="next"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <Label class="label" text="ZIP code"></Label>
                <TextField class="input" [(ngModel)]="item.DeliveryAddressPostcode" hint="" returnKeyType="go" keyboardType="number"></TextField>
            </StackLayout>
            <!--- editableListForm16 additional fields -->
        </StackLayout>
        <!--- master detail form -->
    </ScrollView>

    <GridLayout row="1">
        <!--<Button class="btn btn-primary" text="Add" (tap)="onAdd()"></Button>-->
    </GridLayout>

    <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!item" [visibility]="item ? 'collapse' : 'visible'">
    </ActivityIndicator>
</GridLayout>