<ns-action-bar title="Delivery Orders" [showBack]="mode != modes.LIST" [showAdd]="mode == modes.LIST" (back)="onNavigateBack($event)"
    (navigate)="onNavigate(modes.ADD)"></ns-action-bar>
<GridLayout>
    <GridLayout *ngIf="mode == modes.LIST">
        <TabView #tabview [selectedIndex]="0" class="tab-view" tabsBackgroundColor="#F4550F" selectedTabTextColor="#fff" tabTextColor="#ccc" selectedColor="#eee">

            <StackLayout *tabItem="{ title: 'All'}" class="main-container" [items]="_store.items$ | async" [provider]="_store.provider"
                (select)="onSelect($event)" (navigate)="onNavigate(modes.ADD)">
            </StackLayout>

            <StackLayout *tabItem="{ title: 'Current' }" class="main-container" [items]="_store.items$ | async | filterItems:['Pending', 'In Progress']"
                (select)="onSelect($event)" (navigate)="onNavigate(modes.ADD)">
            </StackLayout>

            <StackLayout *tabItem="{ title: 'Problem' }" class="main-container" [items]="_store.items$ | async | filterItems:['Refused', 'Lost']"
                (select)="onSelect($event)" (navigate)="onNavigate(modes.ADD)">
            </StackLayout>

            <StackLayout *tabItem="{ title: 'Done' }" class="main-container" [items]="_store.items$ | async | filterItems:['Delivered']"
                (select)="onSelect($event)" (navigate)="onNavigate(modes.ADD)">
            </StackLayout>

        </TabView>

        <ActivityIndicator class="activity-indicator" rowSpan="2" [busy]="!_store.items$.length" [visibility]="!_store.items$.length ? 'collapse' : 'visible'"
            [provider]="_store.provider">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="mode == modes.DETAIL">
        <ns-homeView-detail [current]="_store.currentItem$ | async" (navigate)="onNavigate(modes.EDIT)">
        </ns-homeView-detail>
    </GridLayout>

    <GridLayout *ngIf="mode == modes.ADD">
        <ns-homeView-add [current]="_store.currentItem$ | async" (add)="onSave($event)">
        </ns-homeView-add>
    </GridLayout>

    <GridLayout *ngIf="mode == modes.EDIT">
        <ns-homeView-edit [current]="_store.currentItem$ | async" (update)="onSave($event)" (delete)="onDelete($event)">
        </ns-homeView-edit>
    </GridLayout>

</GridLayout>
